/* Colours:
Backgorund base: #242424
Header colour: #000000
Button text colours: #33CF00
Text colour: #134C00
*/

/*HEADER*/
 .header {
   background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  text-align: center;
}

 .header .indent {
   margin: 20px;
}

.header .li {
  float: right;
 font-family: 'Futura', sans-serif;
 color: #32DF00;

}

.header .li a {
    display: block;
    color:#008000 ;
    text-align: center;
    padding: 9px 20px;
    text-decoration: none;
    height: 32px;
}

.header .li a:hover:not(.active) {
    background-color: #C0C0C0;
}

.header .active {
    background-color: white;
}

/*Logo*/

.header .logo {
 float:left;

}

.header .logo img{
 height:50px;
}

/*Footer*/
.footer {
  background-color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
  
}

.footer .li {
  float: left;
 font-family: 'Futura', sans-serif;
  color: #008000;
margin: 20px;}

.footer .li2 {
  float: right;
 font-family: 'Futura', sans-serif;
  color: #008000;
padding-top: 20px;}

/*Text*/
h1 {
 font-family: 'Futura', sans-serif;
    color: #696969;
    font-weight: bold;
 text-align: left;
  font-size: 40px;
 
}
 
h2 {
  font-family: 'Futura', sans-serif;
    color: white;
    font-size: 22pt;
  text-align: center;
}

h3 {
  font-family: 'Futura', sans-serif;
    color: white;
    font-size: 15pt;
  text-align: center;
}

p {
  font-family: 'Futura', sans-serif;
    color: white;
    font-size: 20pt;
 text-align: center;
}

/*body*/
body {
background-image: url("Homepage24.jpg");
  background-size: 100%;
  background-color: #DCDCDC;

 
}














