/* Colours:
Backgorund base: #242424
Header colour: #000000
Button text colours: #33CF00
Text colour: #134C00
*/

/*HEADER*/
 .header {
   background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  text-align: center;
}

 .header .indent {
   margin: 20px;
}

.header .li {
  float: right;
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 color: #32DF00;

}

.header .li a {
    display: block;
    color:#008000 ;
    text-align: center;
    padding: 9px 20px;
    text-decoration: none;
    height: 32px;
}

.header .li a:hover:not(.active) {
    background-color: #C0C0C0;
}

.header .active {
    background-color: white;
}

/*Logo*/

.header .logo {
 margin-left: 5%;
  float:left;

}

.header .logo img{
 height:50px;
}

/*Footer*/
.footer {
  background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
  
}

.footer .li {
  float: left;
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #008000;
margin: 20px;}

.footer .li2 {
  float: right;
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #008000;
padding-top: 20px;}

/*Text*/
h1 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #FFFAFA;
    font-weight: bold;
 text-align: center;
  font-size: 100px;
 
}
 
h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: white;
    font-size: 22pt;
  text-align: center;
}

h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: white;
    font-size: 15pt;
  text-align: center;
}

p {
  font-family: 'Futura', sans-serif;
    color: white;
    font-size: 20pt;
 text-align: center;
}

/*body*/
body {
background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/15027919_736573313158151_7806800291936534466_n.jpg?oh=c2119e5e685433735a1d4cfc7fde4835&oe=588F89BA");
  background-size: 100%;
  background-color: #DCDCDC;

 
}

/*button*/
.button {
  border-radius: 4px;
  background-color: #008000;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:auto;
  display:block;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: inherit;
  right: 0;
}
