
/* Colours:

Backgorund base: #242424
Header colour: #000000
Button text colours: #33CF00
Text colour: #134C00

*/

/*HEADER*/
 .header {
   background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

 .header .indent {
   margin: 80px;
}

.header .li {
  float: right;
}

/*Logo*/

.logo {
 height: 30px;
}

/*Text*/
h1 {
 font-family: 'Futura', sans-serif;
    color: #33CF00;
    font-size: 30pt;
}
 
h2 {
  font-family: 'Futura', sans-serif;
    color: #33CF00;
    font-size: 22pt;
}

h3 {
  font-family: 'Futura', sans-serif;
    color: #33CF00;
    font-size: 15pt;
}

p {
  font-family: 'Futura', sans-serif;
    color: #134C00;
    font-size: 11pt;
}


